.form_password{
    display: flex;
    justify-content: center;
    margin: 1% 0;
}

.form_password input {
    width: 95%;
    padding: 5px;
}

.form_password button {
    background-color: #116bb4;
    border: none;
    border-radius: 5px;
    width: 3%;
    cursor: pointer;
}

.form_password button:hover{
    background-color: green;
}

.form_password button img {
    width: 20px;
    height: 80%;
    z-index: 3;
    background-color: #fff;
}